*{
    margin: 0%;
    padding: 0%;
    font-family:   Segoe UI;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    box-sizing: border-box;
}
.section01{
    width: 100%;
    height: 100vh;
    position: relative;
}
.Sec01-Background{
    width: 100%;
    height: 100%;
}
.bg-image{
    filter: brightness(25%);
    width: 100%;
    height: 100%;
}
.Logo{
    width: 180px;
    height: 100px;
}
.Sec01-Logo{
    position: absolute;
    top: 0px;
    left: 8%;
}
.Sec01-btn{
    position: absolute;
    right: 10%;
    bottom: 92%;
    z-index: 1;
}
.Language-selection{
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 4px 25px 4px 25px;
    text-align: center;
    border-radius:4px ;
    font-size: 15px;
    outline-offset: 2px;
    font-weight: 600;
}
.Language-selection:hover{
outline: 2px white solid;
}
.Signin-btn{
    margin-left: 10px;
    background-color: red;
    color: white;
    border: 1px solid red;
    padding: 6px 16px 6px 16px;
    border-radius: 4px;
    font-weight: 700;
}
.Signin-btn:hover{

    background-color: rgb(195, 1, 1);
    border: 1px solid rgb(195, 1, 1);
    cursor: pointer;
}

.Sec01-content{
    position:absolute;
    bottom: 5%;
    height: 100vh;
    width: 100%;
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.content h1{
    font-size: 55px;
    font-weight: 800;
}
.content .h1-2{
    text-align: center;
}
.content .p-starts{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
}
.content .p-ready{
    position: relative;
    top: 35px;
    font-size: 17px;
    text-align: center;
}
.Sec01-input-button{
    position: absolute;
    top: 66.5%;
    left: 31vw;
}
.Input-email{
    background-color: rgba(27, 27, 27, 0.7);
    padding: 16px 155px 16px 15px ;
    border: 1px solid gray;
    border-radius: 3px;
    font-size:16px;
    font-weight: 600;
    color: white;
}
.Button-GetStarted{
    background-color: red;
    color:white;
    padding: 11px 60px 12px 30px ;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: 700;
    font-size: 23px;
    margin-left: 8px;
}
.Button-GetStarted:hover{
    background-color: rgb(195, 1, 1);
    border: 1px solid rgb(195, 1, 1);
    cursor: pointer;
}
.section-02{
    width: 100%;
    height: 100vh;
}
.main-container{
    display: flex;
    justify-content: center;
}
.section-02 h2{
    margin-top: 5%;
    color: white;
    position: relative;
    left: 5%;
    bottom: 10px;
    margin-bottom: 10px;
}
.top10-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0px;
}
.Image{
    height: 250px;
    width: 180px;
    transition: 100ms;
    margin:10px 30px;
}
.top10-container img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.Image:hover{
    transition: 100ms;
    height: 254px;
    width: 184px;
    cursor: pointer;
    box-shadow: 0px 0px 25px rgb(36, 36, 36);
}

.content-container .Box{
    height: 270px;
    width: 300px;
    color: white;
    background:linear-gradient(160deg, #1A2043 0%, #23162B 100%);;
    border-radius: 15px;
    margin-right: 25px;
    margin-top: 1%;
}
.Box h2{
    /* font-family: sans-serif; */
    position: relative;
    top: 5%; 
    font-weight: 700;
}
.Box p{
    font-weight: 500;
    position: relative;
    top: 10%;
    left: 5%;
    width: 240px;
    color: rgba(255, 255, 255, 0.651);
}

.box-container{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
}
.content-container .More-h2{
    position: relative;
    bottom: 40px;
}
.section-03{
    width: 100%;
    height: 100vh;
    color: white;
}
.Frequent-h3{
    position: relative;
    top: 30px;
    left: 5%;
}
.button-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10%;
    align-items: center;
}
.button-container button{
    text-align: left;
    padding: 25px 25px;
    margin: 4px;
    width: 80%;
    background-color: #303030;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
}
.button-container button:hover{
     background-color: #444444;
}
.section-04-main{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    color: white;
}
.section-04 .Input-email-02{
    padding: 17px 350px 17px 15px ;
}
.Button-GetStarted{
    padding: 12px 60px 14px 30px ;
}
.sec04-input-button p{
    position: relative;
    left: 15%;
    bottom: 12%;
    font-size: 17px;
}
footer {
  width: 100%;
  height: 65vh;
}
footer p {
  color: rgba(255, 255, 255, 0.685);
  position: relative;
  left: 13%;
}
footer a {
  color: rgba(255, 255, 255, 0.685);
  font-size: 15px;
  font-weight: 500;
}
footer li {
  margin: 10px 10px 10px 10px;
  /* display: inline-block; */
}
footer ul {
  position: relative;
  left: 8%;
  top: 30px;
  list-style: none;
  text-align: start;
}
.ul-container{
    display: flex;
    position: relative;
}
.ul-container .a,.b,.c,.d{
    margin-left: 12%;

}
.Language-selection-02{
    margin-top: 5px;
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 5px 35px 5px 25px;
    text-align: center;
    border-radius:5px ;
    font-size: 15px;
    outline-offset: 2px;
    position: relative;
    left: 4.5%;
    margin-top: 3%;
}
.Language-selection-02:hover{
outline: 2px white solid;
}

.This-page-p{
    position: relative;
    top: 20%;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.485);
    font-weight: 500;
}
.Netflix-p{
    position: relative;
    top: 13%;
    font-size: 14px;
    font-weight: 500;
}
.Learn-a{
    font-size: 13px;
    color: rgb(128, 128, 249);
}






